# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
backend/venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment files
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db